h1{
    text-align:center;
    margin-bottom: 80px;
}

hr{
    width:800px;
    position:relative;
    top:40px;
}

.parent{
    display:flex;
    /* width:730px; */
    /* text-align:center; */
    /* justify-content:space-around; */
    position:relative;
    left:250px;
    bottom:15px;
}

.first{
    border-right:1px solid black;
    height:250px;
}

.text{
    height:250px; 
    position:relative
}

#line2{
    width:px;
    position:relative;
    /* right:280px; */
    bottom:100px;
}

#parent2{
    display:flex;
    width:300px;
    border-right:1px solid black;
    height:260px;
    position:relative;
    left:55px;
    bottom:310px;
}

#parent3{
    display:flex;
    width:300px;
    border-right:1px solid black;
    height:255px;
    position:relative;
    bottom:567px;
    left:850px;
}

.outline {
    border: 1px solid red;
}

.left {
    width: 300px;
}

.right {
    width: 300px;
}

p {
    word-break: break-all;
    white-space: normal;
}

#masterdiv{
    border:1px solid black;
    width: 800px;
    height: 300px;
    position:relative;
    left:360px;
    bottom:60px;
    display: flex;
    justify-content: space-around;
}
